<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit Post</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="/">Ever Note</a>
    </div>
    <div class="add__post">
      <a href="/posts/newPost">+</a>
    </div>
  </header>
  <div class="form__wrapper">
    <h2>Edit Your Story...</h2>
    <form action='/posts/<%= post._id %>' method="post" class="form">
      <label for="title" class="title__label">
        <input type="text" id="title" name="title" value="<%= post.title %>" placeholder="Enter description title
        here...">
      </label>
      <label for="description" class="des__label">
        <input type="text" id="description" name="description" value="<%= post.description %>"
         placeholder="Enter description here...">
      </label>
      <label for="tags" class="tag__label">
        <input type="text" id="tags" name="tags" value="<%= post.tags %>" placeholder="Enter tags here...">
      </label>
      <div class="btn__wrapper">
        <button class="submit__btn">Submit</button>
      </div>
    </form>
  </div>
</body>

</html>