<!DOCTYPE html>
<html>
  <head>
    <title><%= 'Home' %></title>
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <a href="">Ever Note</a>
      </div>
      <div class="add__post">
        <a href="/newPost">+</a>
      </div>
    </header>
  </body>
</html>
