<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register User</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css" />
</head>
<body>
  <div class="form__wrapper">
    <form action="/register" method="post">
      <label for="firstName">
        <input type="text" name="firstName" id="firstName" placeholder="Enter your first name here...">
      </label>
      <label for="lastName">
        <input type="text" name="lastName" id="lastName" placeholder="Enter your last name here...">
      </label>
      <label for="email">
        <input type="email" name="email" id="email" placeholder="Enter your email here...">
      </label>
      <label for="password">
        <input type="password" name="password" id="password" placeholder="Enter your password here...">
      </label>
      <div class="sign-up__wrapper">
        <button class="sign-up__btn">Sign Up</button>
      </div>
    </form>
  </div>
</body>
</html>